<!DOCTYPE html>
<html lang="tr">
<head>

    @await Html.PartialAsync("~/Views/Shared/_TitleMeta.cshtml")

    @await RenderSectionAsync("styles", false)

    @await Html.PartialAsync("~/Views/Shared/_headCSS.cshtml")

</head>
<body data-topbar="light" data-layout="horizontal">

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("~/Views/Shared/_HoriHeader.cshtml")


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">


                    @RenderBody()
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            @await RenderSectionAsync("externalhtml", required: false)

            @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    @await Html.PartialAsync("~/Views/Shared/_rightSidebar.cshtml")

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    <!-- Icon -->
    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
