@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />


<RadzenLayout>
    <NavMenu />
    <RadzenBody>
        <div class="container">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
