@rendermode InteractiveServer
<RadzenHeader>
    <div class="row justify-content-start align-items-center">
        <div class="col-6 d-flex align-items-center">
          
        </div>
        <div class="col-6 d-flex justify-content-end">
            <RadzenMenu>
                <RadzenMenuItem Text="Ana Sayfa" Path="/" Icon="home" />
                <RadzenMenuItem Text="Hakkında" Path="/about" Icon="info" />
                <RadzenMenuItem Text="İletişim" Path="/contact" Icon="mail" />
                <RadzenMenuItem Text="Ayarlar" Path="/settings" Icon="settings" />
            </RadzenMenu>
        </div>
    </div>
</RadzenHeader>
